html{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
body{
    margin: 0;
    background-image:url("img/new.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.3);
    color:white;
    width: 100%;
    z-index: 100;
    top: 0;
    transition: 1.5s;
}
#titulo_principal{
    margin: 0;
}

/* Header scroll hacia arriba */
header.scroll-up {
    top: 0;
}
  
  /* Header scroll hacia abajo */
  header.scroll-down {
    top: -100px;
}
nav{
    padding-left: 0.9rem;
    padding-right: 1rem;
    
}
nav ul{
    list-style: none; /*Eliminamos los puntos de la lista*/
    margin: 0; /*Eliminamos el margen predeterminado de la lista*/
    padding: 0;
}
nav li{
    float: right;
}
nav a{
    margin-left: 3rem;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}
nav a:hover{
    color: #e65252;
}
header h1{
    font-size: 3rem;
}
div{
    color: white;
    max-width: 1000px;
    padding-left: 3rem;
}
.eslogan{
    margin-top: 8rem;
    font-size: 3rem;
}
.mas_info{
    text-align: left;
    margin-top: 7rem;
}
button,
button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #e65252 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
.columnas{
    padding-top: 10rem;
}
.container{
    display: flex;
    border: white solid 1px;
    background-color: rgba(2, 2, 2, 0.8);
    background-size: cover;
}
.container .columna_1{
    width: 50%;
}
.container .columna_2{
    width: 50%; border-left: 1px solid rgb(255, 255, 255);
}
.container_articles{
    display: flex;
    width: 400px;
}
section article{
    box-shadow: #ff013c;
    background-color: #00e6f6;
    margin-left: 3rem;
    border-radius: 0.5rem;
}
#article_1{
    margin-top: -40px;
}
footer{
    /* position: fixed; */
    background-color: rgba(2, 2, 2, 0.9);
    padding: 1rem;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
.footer-menu {
    display: flex;
}
  
.footer-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.footer-menu li {
    margin: 0 1rem;
}
  
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
  
footer p {
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    
}
footer a:hover{
    color: #e65252;
}
